.outer {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  text-align: center;
  width: auto;
  padding: 0 15px;
}

#scroll-bottom {
  position: relative;
  height: 10px;
}

#back-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0;
  margin: 0;
}

#back-top a {
  width: 64px;
  display: block;
  text-align: center;
  background-color: transparent;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

#back-top span {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0;
  padding: 0;
  background: no-repeat center center;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

#back-top a:hover span {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 550px) {
  #back-top {
    position: fixed;
    width: 100%;
    height: 38px;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #back-top a {
    width: 100%;
    display: block;
    text-align: center;
  }

  #back-top span {
    width: 100%;
    height: 38px;
    display: block;
    margin: 0;
    padding: 0;
    background: no-repeat center center;
  }
}

.icon-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-circle-up {
  color: rgb(214, 214, 214);
  font-size: 48px;
}
